{% set pagetitle = 'SimpleSAMLphp'|trans %}
{% extends "@core/loginuserpass.twig" %}

{% block content %}

    {% if errorcode -%}
    <div class="pure-g">
        <div class="pure-u-1">
            <div class="message-box error">
                <h3>{{ errtitle|trans }}</h3>
                <p>{{ errdesc|trans|raw }}</p>
            </div>
        </div>
    </div>
    {%- endif %}

<h1>{{ 'Enter your One Time Password'|trans }}</h1>

<p>{{ 'A service has requested you to authenticate yourself. Please enter your One Time Password to proceed.'|trans }}</p>
<br>
<div class="center">

	<form class="pure-form pure-form-aligned center-form" action="?" method="post" name="f">
		<div class="form-align">

			<div class="pure-control-group">
				<label for="otp">{{ 'Token'|trans }}</label>
				<input id="otp" placeholder="{{ 'Token'|trans }}" type="text" name="otp" class="edge" autofocus>
			</div>
		</div>
		<!-- form-align-->
		<br><br>
		{%- for name, value in stateparams %}
			<input type="hidden" name="{{ name }}" value="{{ value }}">
		{%- endfor %}

		<button class="pure-button pure-button-red pure-input-1-2 pure-input-sm-1-1 right" id="submit_button" type="submit" tabindex="6" data-processing="{% trans %}Processing...{% endtrans %}">
			{% trans %}Continue{% endtrans %}
		</button>
	</form>
</div>
<!--center-->
{% if links -%}
	<ul>
		{% for link in links -%}
			<li>
				<a href="{{ link.href }}">{{ link['text']|trans }}</a>
			</li>
		{% endfor %}
	</ul>
{%- endif %}

<br><br>
<div class="pure-form-message">
	<strong>{{ 'Help! I don\'t have my token available.'|trans }}</strong>
        <p>{{ 'Without your token you cannot authenticate yourself for access to the service. There may be someone that can help you. Consult the help desk at your organization!'|trans }}</p>
    </div>

{% endblock %}
